---
---
{% include head-open-head-tagwithoutmaincss.html %}
<!-- Index Specific CSS | Above-the-Fold -->
<style media="screen" type="text/css">
.intro-header {
/*     height:calc(100% - 3em); subtract an amount of space for your arrow element */
/*     background-color:#333; */
    width:100%;

    margin-top: -25px;
    /*  If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-top: 30px;
    padding-bottom: 30px;
    /*  color: #f8f8f8; */
    color: #ffffff;
    background: url(/img/dolphins4-optimized.jpg) no-repeat center center;
/*    background: url('<%= asset_path "dolphins4-optimized.jpg" %>') no-repeat center center;*/
    background-size: cover;
    text-align: center;
}

.intro-message {
    margin-top: -50px;
    position: relative;
    padding-top: 15%;
    padding-bottom: 20%;
}

.intro-message>h1 {
    margin: 0;
    font-size: 5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media ( max-width : 767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        margin-left: 160px;
        margin-bottom: 160px;
        width: 100%;
        position: 160px;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 0;
}
</style>

</head>

<body id="home">


{% include navbar.html %}


<div itemscope itemtype="http://data-vocabulary.org/Person">

    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><span itemprop="name">Olivier Barais</span>, <span itemprop="honorificSuffix">Ph.D.</span></h1>
                        <h3><span itemprop="jobTitle">Professor</span> @ <span itemprop="affiliation">University of Rennes 1</span> / IRISA / INRIA / B-COM</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="http://www.linkedin.com/in/olivierbarais" class="btn btn-default btn-lg"><i
                                    class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">Linkedin</span></a></li>
                            <li><a href="https://github.com/barais" class="btn btn-default btn-lg"><i class="fa fa-github-square fa-fw"></i>
                                    <span class="network-name">Github</span></a></li>
                            <li><a href="http://scholar.google.fr/citations?user=LV5i8X4AAAAJ&hl=en" class="btn btn-default btn-lg"><i
                                    class="fa fa-search fa-fw"></i> <span class="network-name">Scholar</span></a></li>
                            <li><a href="https://www.google.com/+OlivierBarais" class="btn btn-default btn-lg"><i
                                    class="fa fa-google-plus-square fa-fw"></i> <span class="network-name">google+</span></a></li>
                            <li><a href="https://www.facebook.com/obarais" class="btn btn-default btn-lg"><i
                                    class="fa fa-facebook-square fa-fw"></i> <span class="network-name">facebook</span></a></li>
                        </ul>
                        <section class="main">
                            <a class="arrow-wrap" href="#content">
                                <span class="arrow"></span>
                            </a>
                        </section>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a" id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <!--                     <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Where I work</h2>

                    <p class="lead" align="justify">
                        I'm a <span itemprop="jobTitle">professor </span>at the <a href="https://www.univ-rennes1.fr" itemprop="url">University of Rennes 1</a>  in the

                        <span itemprop="workLocation" itemscope itemtype="http://schema.org/Place">
                        <a href="http://diverse.irisa.fr" itemprop="url"> <span itemprop="name">DiverSE team</span></a>
                        </span>

                         (formerly
                        <span itemprop="workLocation" itemscope itemtype="http://schema.org/Place">
                            <a href="http://triskell.irisa.fr" itemprop="url"><span itemprop="name">Triskell</span></a>) at the
                        </span>

                        <span itemprop="workLocation" itemscope itemtype="http://schema.org/Place">
                            <a href="https://www.inria.fr" itemprop="url"><span itemprop="name">INRIA</span></a>/<a href="https://www.irisa.fr" itemprop="url"><span itemprop="name">IRISA</span></a>
                        </span>
                        <span itemprop="workLocation" itemscope itemtype="http://schema.org/Place">
                            <span itemprop="name"><a href="https://www.inria.fr/centre/rennes" itemprop="url">Rennes</a> research center</span>.
                        </span>
                    </p>
                    <p class="lead" align="justify">Our team, focuses on software diversity and all of its benefits. Much like ecosystems found in nature, software
                        can take advantage of variants that co-exist within these complex systems, improving robustness, security and resilience.</p>

                    <p class="lead" align="justify">Mostly though, higher levels of diversity provide a pool of software solutions that can be used to adapt to
                        unforeseen situations.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-0 col-sm-6 ">
                    <!-- <img class="img-responsive" src="img/inria-rba.jpg" alt=""> -->
                    <span itemprop="workLocation" itemscope itemtype="http://schema.org/Place">
                    <img class="img-responsive" src="img/inria-rba-small-optimized.jpg" alt="Inria Rennes Bretagne Main Entrance" itemprop="image">
                    </span>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="clearfix"></div>


                    <div class="col-lg-12 col-md-12">
                        <a href="img/img-OlivierBarais.jpg"><img class="img-responsive"
                            src="img/img-OlivierBarais.jpg" alt="Decoupled implementations Dynamic components"></a>
                    </div>

                    <hr class="section-heading-spacer">
                    <div class="col-lg-12 col-md-12">
                        <a href="img/editorRunJS.png"> <img class="img-responsive"
                            src="img/editorRunJS.png" alt="Corruption and recovery for Dynamic Components">
                        </a>
                    </div>

                </div>

                <div class="col-lg-6 col-lg-offset-0  col-sm-6">
                    <!--                     <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What I do</h2>
                    <p class="lead" align="justify"><i>"Traditional software development is based on the closed-world assumption that the
boundary between system and environment is known and unchanging. However, this
assumption no longer works within today’s unpredictable open-world settings, which
demand techniques that let software react to changes by self-organizing its structure
and self-adapting its behavior."</i><BR> <small><small>Luciano Baresi, Elisabetta Di Nitto, Carlo Ghezzi: Toward Open-World Software: Issue and Challenges. IEEE Computer 39(10): 36-43 (2006)</small> </small> </p>

		    <p class="lead" align="justify">Sharing this vision, I mainly work on three main challenges.</p>
			<p class="lead" align="justify">First, to increase software resilience, you have to make software variants usable, to change
                        from one variant to another, and particularly, to tolerate these changes unexpectedly.
                        I'm interested in the intricate details of handling dynamic software reconfigurations (e.g., quiescence, component decoupling)
                        at both the component and architectural levels. I've mostly focused on dynamism in distributed component-based frameworks like
                        <a href="http://www.kevoree.org">Kevoree</a> and the use of model-driven engineering techniques at runtime also nammed (models@runtime).
                    </p>
                    <p class="lead" align="justify"> As a second challenge, you have to model software variation points and handle variability modeling issues. For this challenge I work on the common variability language initiative and I try ;) to contribute to the <a href="http://familiar-project.github.io/">Familiar project</a>.
		    </p>
<p class="lead" align="justify"> As a third challenge, I work to adapt model-driven engineering to this open-world assumption. Indeed, the closed world assumption is adopted by many modelling framework such as the Ecore defacto standard language since complete control of information about the modeled software systems is a strong requirement. . To work on that, I work within the <a href="http://diverse-project.github.io/k3/">K3 framework </a> and try to support unespected change and variation point in the language design.
		    </p>

	                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <!--<hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Education</h2>

                    <p class="lead" align="justify">
			I have received a PhD degree in Computer Science from the <a href="http://www.univ-lille1.fr/" >University of Lille</a>, France, November the 29th, 2005. During this PhD, I worked in the Jacquard team. My supervisor was Professor <a href="http://www.lifl.fr/~duchien/">Laurence Duchien</a>.
I have received a Research Master degree in Computer Science from the <a href="http://www.univ-lille1.fr/" >University of Lille</a> as well as an engineer master degree in Information and Computer Science from the Ecole des <a href="http://www2.mines-douai.fr/">Mines de Douai</a> in 2002. My work focuses on software architecture modelling and analysis, and architecture-level support for Aspect Oriented Design. My research interests include Component Based Software Design, Model-Driven Engineering and Aspect Oriented Modelling. Olivier Barais has co-authored 8 journal articles and 50 international conference  papers, in conferences and journals such as Sosym, IEEE Computer, ICSE, MoDELS, SPLC and CBSE.

                                           </p>

                </div>
                <div class="col-lg-4 col-lg-offset-1 col-sm-6 ">
                    <!-- <img class="img-responsive" src="img/inria-rba.jpg" alt=""> -->
                    <br> <a href="/img/education-word-map-transparent.png"><img class="img-responsive"
                        src="img/education-word-map-transparent-compressed-better-rot-weboptimized.png" alt="Education and Learning Word map"></a>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
</div> 

{% include footer.html %}



</body>
</html>
