<!DOCTYPE HTML>
<html lang="en">

<head>
<meta charset="utf-8">
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Olivier Barais">
<link rel="author" href="https://plus.google.com/+OlivierBarais">

{% if page.title == page.title.blank? %}
<title>Olivier Barais | Official Home Page | Site Officiel</title>
<meta name="description" content="Hi! Welcome to Olivier's home page. Research, projects, blog or send him an email.">
{% else %}<title>{{ page.title }}</title>{% endif %}
{% if page.description == page.description.blank? %}
{% else %}
<meta name="description" content="{{ page.description }}">{% endif %}

<!-- Add custom CSS here -->
<!-- {% stylesheet main %} -->

<!-- <link rel="shortcut icon" href="favicon.ico"> -->
<link rel="icon" href="favicon.ico">
